@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

      /*eliminates white space around edges of page --------------------*/
* {
margin: 0px;
padding: 0px;
}

      /*text stuff --------------------*/
body {
  font-family: 'Roboto Condensed';
  color: #303030;
  display: block;
}

p {
  font-family: 'Roboto Condensed';
  margin: auto;
  color: #303030;
  line-height: 1.8;
  font-size: 13px;
  text-align: center;
  display: block;
}

p.one {
  font-family: 'Roboto Condensed';
  max-width: 77%;
  margin: auto;
  color: #303030;
  line-height: 1.7;
  font-size: 16px;
  text-align: center;
  display: block;
}

p.two {
  font-family: 'Roboto Condensed';
  max-width: 85%;
  margin: auto;
  color: #303030;
  line-height: 1.8;
  font-size: 13px;
  text-align: center;
  display: block;
}

h1 {
  font-size: 40px;
  font-family: 'Roboto Condensed';
  color: #0e6eb8;
  text-align: center;
}

h2 {
  font-size: 34px;
  font-family: 'Roboto Condensed';
  color: #0e6eb8;
  text-align: center;
}

h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto Condensed';
  color: #0e6eb8;
  text-align: center;
}

h4 {
  font-size: 29px;
  font-family: 'Roboto Condensed';
  color: #0e6eb8;
  text-align: center;
}

h5 {
  font-size: 16px;
  font-family: 'Roboto Condensed';
  color: #303030;
  text-align: center;
}

h6 {
  font-size: 21px;
  font-family: 'Roboto Condensed';
  color: #0e6eb8;
  text-align: center;
}

a:hover {background-color: #ff632d;}
a:link {color: #074f9a;}
a:visited {color: #074f9a;}
a:hover { text-decoration:none;
text-shadow: 0 0 7px #5c7761;}
      /*dividers --------------------*/
hr {
  width: 87%;
  margin: auto;
}

hr.blue {
  border-top: 5px solid #0e6eb8;
  width: 50px;
  margin: auto;
}

hr.bluee {
  border-top: 5px solid #0e6eb8;
  width: 75px;
  margin: auto;
}

hr.blueee {
  border-top: 3px solid #0e6eb8;
  width: 25px;
  margin: auto;
}
        /*keeps images at 100% of browser --------------------*/
img {
  max-width: 100%;
}
        /*steps 1 and 2 w/ box shadow hover (thingyCar selects the Wall Decals option) --------------------*/

#stepOne {
  width: 93%;
  margin:auto;
  padding: 5px;
}

#stepTwo {
  width: 93%;
  margin:auto;
  padding: 5px;
}

#stepToo {
  width: 65%;
  margin:auto;
  padding: 5px;
}

.thingy {
    margin: 20px;
    border: 0px;
    float: left;
    background-color: #ffffff;
    width: 350px;
    height: 525px;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.thingyCar {
    margin: 20px;
    border: 0px;
    float: left;
    background-color: #ffffff;
    width: 350px;
    height: 525px;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.thingy::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.thingyCar::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.thingy:hover {
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}

.thingyCar:hover {
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}

.thingy:hover::after {
    opacity: 1;
}

.thingyCar:hover::after {
    opacity: 1;
}

#logo {
  text-align: center;
}

#chart {
  text-align: center;
}

.chartTwo {
  display: none;
}

#top {
  position: static;
  z-index: 1;
  width: 100%;
  height: 36px;
  background-color: #000000;
}

#underLogo {
  width: 100%;
  height: 64px;
  background-color: #074f9a;
}

#button {
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
}

.button {
    background-color: #ff632d;
    position: relative;
    border: none;
    color: white;
    padding: 9px 37px;
    width: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}

footer {
  width: 100%;
  height: 400px;
  background-color: #0e6eb8;
}



/*MEDIA QUERY!*/

/*this SHOULD be feasible for any screen smaller than a laptop or desktop. divs stack on top of
eachother instead of appearing side by side*/

@media (max-width : 1260px) {

  body {
    font-family: 'Roboto Condensed';
    color: #303030;
    display: block;
  }

  p {
    font-family: 'Roboto Condensed';
    margin: auto;
    color: #303030;
    line-height: 1.8;
    font-size: 10px;
    text-align: center;
    display: block;
  }

  p.one {
    font-family: 'Roboto Condensed';
    max-width: 77%;
    margin: auto;
    color: #303030;
    line-height: 1.7;
    font-size: 13px;
    text-align: center;
    display: block;
  }

  p.two {
    font-family: 'Roboto Condensed';
    max-width: 85%;
    margin: auto;
    color: #303030;
    line-height: 1.8;
    font-size: 12px;
    text-align: center;
    display: block;
  }

  h1 {
    font-size: 35px;
    font-family: 'Roboto Condensed';
    color: #0e6eb8;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    font-family: 'Roboto Condensed';
    color: #0e6eb8;
    text-align: center;
  }

  h3 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    color: #0e6eb8;
    text-align: center;
  }

  h4 {
    font-size: 25px;
    font-family: 'Roboto Condensed';
    color: #0e6eb8;
    text-align: center;
  }

  h5 {
    font-size: 13px;
    font-family: 'Roboto Condensed';
    color: #303030;
    text-align: center;
  }

  h6 {
    font-size: 17px;
    font-family: 'Roboto Condensed';
    color: #0e6eb8;
    text-align: center;
  }


  #stepOne {
    width: 100%;
    margin:auto;
    padding: 5px;
  }

  #stepTwo {
    width: 100%;
    margin:auto;
    padding: 5px;
  }

  #stepToo {
    width: 100%;
    margin:auto;
    padding: 5px;
  }

  .thingy {
    background-color: #ffffff;
    padding: 5px;
    width: 100%;
    height: auto;
    padding: 3px;
    margin: auto;
    margin-top: 5px;

  }

  .thingyCar {
    background-color: #ffffff;
    padding: 5px;
    width: 100%;
    height: auto;
    padding: 3px;
    margin: auto;
    margin-top: 15px;
  }

  .thingy img {
    float: left;
    width: 35%;
    height: auto;
  }

  .thingyCar img {
    float: left;
    width: 35%;
    height: auto;
  }


  .button {
      background-color: #ff632d;
      position: relative;
      border: none;
      color: white;
      padding: 9px 27px;
      width: 30%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 8px;
  }

}

@media (max-width : 750px) {

  .chartOne{
       display: none;
     }

  .chartTwo{
       display: block;
     }

}
